<div th:fragment="customCategory" class="category">
  <div class="img-category">
    <img src="https://cdn.pixabay.com/photo/2016/06/22/08/40/atom-1472657_960_720.png" alt="">
  </div>
  <h3>ResArtica</h3>
  <p>Free posting and sharing any article with insane freedom</p>
  <hr>
  <h3>Popular Categories</h3>
  <button class="button-category">Education</button><br>
  <button class="button-category">Sport</button><br>
  <button class="button-category">Programming</button><br>
  <button class="button-category">Science</button><br>
  <button class="button-category">Biology</button><br>
  <button class="button-category">Other</button><br>




</div>